:root {
  --fuentePrincipal: "Montserrat", sans-serif;
  --principal: #f69c6d;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 0;
}

p {
  margin: 0;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  display: block;
}

/* Header */
@media (min-width: 768px) {




  .nav__logo img {
    width: 20.1rem;
    height: 8.5rem;
  }

  .nav__obrart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .nav__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    background-color: #fff;
    border-radius: 2rem;
  }

  .nav__form-input {
    background-color: #fff;
    border: #000;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    border-radius: 2rem;
  }

  .nav__form-input:focus {
    border: none;
  }

  .nav__form-button {
    margin-right: 1rem;
    background-color: #fff;
    border: none;
  }

  .nav__log {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    gap: 2rem;
  }

  /* Fin header */

  /*Info header  */

  .info__header {
    background: url("../img/info.jpg");
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .info__heading-h1 {
    font-size: 8rem;
    margin-bottom: 2rem;
  }
  .info__heading-text {
    margin-bottom: 2rem;
  }

  .info__heading a {
    padding: 1rem 5rem;
    background-color: var(--principal);
  }

  /* MAIN */

  .main {
    margin: 2rem 0;
  }

  .obras {
    width: 95%;
    margin: 0 auto;
  }
  .sections-slider {
    display: flex;
    gap: 3rem;
    margin: 0 2rem;
    height: 40rem;
    overflow-y: clip;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .sections__info {
    display: flex;
    flex-direction: column;
    width: 38rem;
    height: 40rem;
  }

  .sections__info-img {
    height: 20.9rem;
  }

  .sections__info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sections__info-text {
    width: 38.4rem;
    height: 19.1rem;
  }

  a.obra {
    color: #000;
  }

  .section__info-text-description {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .section__info-text--p {
    display: flex;
    flex-direction: column;
  }
  .sections__info-text-description--price {
    font-size: 2.8rem;
  }
  .sections__info-text--car {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--principal);
    align-items: center;
  }

  .style {
    margin: 2rem 0;
  }

  .style-text {
    margin-left: 2rem;
  }

  .section {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
  }

  .section-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .section__caract {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 0.5fr);
    gap: 2rem;
  }

  @media (max-width: 769px) {
    .section__caract {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 1rem;
    }
  }

  .section__caract-inf:hover {
    cursor: pointer;
    background-color: #f55c7a;
    color: #fff;
  }
  .section__caract .section__caract-inf:nth-child(2n + 1) {
    grid-column-start: 1;
  }
  .section__caract .section__caract-inf:nth-child(2n) {
    grid-column-start: 2;
  }

  .section__caract-inf:nth-child(1) {
    grid-row-start: 1;
  }
  .section__caract-inf:nth-child(2) {
    grid-row-start: 2;
  }

  .section__caract-inf:nth-child(3) {
    grid-row-start: 3;
  }

  .section__caract-inf:nth-child(4) {
    grid-row-start: 4;
  }

  .section__caract-inf:nth-child(5) {
    grid-row-start: 5;
  }

  .section__caract-inf:nth-child(6) {
    grid-row-start: 6;
  }

  .section__caract-inf {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    border-radius: 4rem;
    padding: 0.5rem;
    background-color: gray;
  }

  .section__caract-inf .section__caract-inf--img {
    width: 3.2rem;
  }

  .price__text {
    margin-left: 2rem;
  }

  .prices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 41.4rem;
  }

  .prices__img {
    height: 41.4rem;
  }

  .prices__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .price__prices {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 4.3rem;
    justify-content: center;
  }

  .prices__prices-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f69c6d;
    padding: 0.5rem;
    color: #fff;
    font-size: 2rem;
  }

  .prices__prices-info img {
    height: 6.4rem;
    width: 6.4rem;
    object-fit: cover;
  }

  .prices__prices-info span {
    display: block;
    font-size: 2.8rem;
  }

  /* fin Main */

  /* seCTION ARTIST */

  .artists__destc {
    margin: 2rem 0 2rem 2rem;
  }

  .info {
    display: flex;
    gap: 3rem;
    margin: 0 2rem;
    height: 35rem;
    overflow-y: clip;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .info__artist {
    padding: 2rem;
    background-image: url("../img/rahul-jain-JOYtT8_Y7c8-unsplash\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .info__artist-name {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
  }

  .info__artist-text {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .info__artist-p {
    color: #fff;
    padding: 1rem;
  }

  .info__artist-p--nat {
    color: #fff;
    background-color: var(--principal);
    padding: 0.1rem 2rem;
    border-radius: 4rem;
  }

  .info__artist-p--ur {
    color: #fff;
    background-color: #f57c73;
    padding: 0.1rem 2rem;
    border-radius: 4rem;
  }

  .info__artist-p--fan {
    color: #fff;
    background-color: #f55c7a;
    padding: 0.1rem 2rem;
    border-radius: 4rem;
  }

  .info__artist-p--an {
    color: #fff;
    background-color: #000;
    padding: 0.1rem 2rem;
    border-radius: 4rem;
  }

  .info__artist-p--ret {
    color: #fff;
    background-color: #f0c132;
    padding: 0.1rem 2rem;
    border-radius: 4rem;
  }

  /* Fin seccion Artist */

  /* Footer */

  footer {
    background-color: #000;
    color: #fff;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .footer h3 {
    margin-bottom: 2rem;
  }

  .footer__cont {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .footer__social-redes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .footer__artist {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .copyright {
    text-align: center;
    padding: 2rem 0;
  }

  /*----------------Obras------------------- */
  .sections {
    margin: 0 auto;
    justify-items: center;
  }

  @media (min-width: 900px) {
    .sections {
      grid-template-columns: repeat(2, 1fr);
    }

    .sections__info-obra {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @media (min-width: 1180px) {
      .sections {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  /* Artistas */

  .section-filter {
    flex-direction: row;
    justify-content: center;
  }

  .sections {
    margin: 0 auto;
    justify-items: center;
  }

  @media (min-width: 1180px) {
    .section-filter {
      margin: 2rem 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .select {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    .select label {
      display: block;
    }
  }

  @media (min-width: 900px) {
    .gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @media (min-width: 1180px) {
      .gallery {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .description-info img {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 1180px) {
    .description {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .cart-container {
    display: flex;
  }
  
  .product-section, .payment-section {
    flex: 1;
    padding: 20px;
  }
  
  .product-section h2, .payment-section h2 {
    margin-top: 0;
  }
  
  .payment-details {
    margin-bottom: 20px;
  }
  
  .payment-details p {
    margin: 5px 0;
  }
  
  .payment-methods {
    list-style-type: none;
    padding: 0;
  }
  
  .payment-methods li {
    margin-bottom: 5px;
  }
  
  .sections__info-img-obra-car{
    height: 25rem;

  }
  @media (min-width:1180){
    .sections__info-img-obra-car{
        height: 25rem;
    
      }
      .sections__info-obra-car{
        height: 25rem;
      }
  
  }

}
