:root {
    --fuentePrincipal: "Montserrat", sans-serif;
    --principal: #f69c6d;
}

*{
    box-sizing: border-box;
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-login{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo :nth-child(2){
    border: 1px solid rgb(133, 130, 130);
    border-radius: 10px ;
    padding: 20px;
}

.campo label{
    font-weight: bold;
    font-size: 1em;
}

.container-submit input{
  background-color: var(--principal);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-top: 20px;
}


.action-sesion{
    margin: 20px 0;
}
.action-sesion a{
    color: var(--principal);
    font-weight: bold;
}