*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fuentePrincipal: "Montserrat", sans-serif;
  --principal: #f69c6d;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 0%);
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
}

input[type='range'],
input[type='text'],
input[type='email'],
input[type='password'],
select 
{
    display: block;
    width: 100%;
    height: 2.2rem;
  }

  label{
    font-family: var(--principal);
  }
  
  input[type='range']:focus {
    outline: none;
  }
  
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]::-webkit-slider-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    margin-top: -9px;
  }
  
  input[type=range]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
  }
  
  input[type=range]::-moz-range-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-track {
    background-color: #777;
    height: 3px;
  }
  
  input[type=range]::-ms-fill-lower {
    background-color: HotPink
  }
  
  input[type=range]::-ms-fill-upper {
    background-color: black;
  } 

nav .logo {
  font-weight: 700;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav ul > li{
  margin: auto;
}
nav a {
  text-decoration: none;
  color: white;
}
nav #toggle,
nav label {
  display: none;
}

.material-icons{
  font-size: 40px;
}

@media (max-width:1000px ) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }

  .nav__search {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    background-color: #fff;
    border-radius: 2rem;
  }

  .nav__form-input {
    background-color: #fff;
    border: #000;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    border-radius: 2rem;
  }

  .nav__form-input:focus {
    border: none;
  }

  .nav__form-button {
    margin-right: 1rem;
    background-color: #fff;
    border: none;
  }

  .nav__log {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    gap: 2rem;
  }
}




/*Info header*/
.info__header{
    background: url('../img/info.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.info__heading{
    text-align: center;
}
.info__heading-h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.2;
}
.info__heading-text{
    margin-bottom: 2rem;
    font-weight: 400;
    line-height: 1.2;
    font-size: 2.8rem;
    margin-bottom: 5rem;
}

.info__heading a{
    padding: 1rem 2rem;
    background-color:var(--principal);
    transition: background-color .3s;
    border-radius: .5rem;
}
.info__heading a:hover{
    background-color: white;
    color: var(--principal);
    font-weight: 400;
    border: 3px solid var(--principal);
}

.main{
    margin: 2rem 0;
}

/* Estilos CSS para la presentación */
.container {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
}

.plan {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
  height: 300px;
}
.plan h2 {
  margin-top: 0;
  color: #fff;
  border-radius: 2rem;
}

.container .plan:nth-child(1) h2{
  background-color: #f0c132;
}

.container .plan:nth-child(2) h2{
  background-color: #F55C7A;
}

.container .plan:nth-child(3) h2{
  background-color: #F57C73;
}

.container .plan:nth-child(4) h2{
  background-color: #000;
}

.container .plan:nth-child(5) h2{
  background-color: #4c24a4;
}

.container .plan:nth-child(6) h2{
  background-color: #4CAF50;
}
.plan p {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plan button {
  background-color: var(--principal);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}




.sections-slider{
    display: flex;
    height: 40rem;
    overflow-y: clip;
    overflow-x: scroll;
    white-space: nowrap;
}

.sections__info{
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    width: 33rem;
    height: 40rem;
}

.sections__info-img{
    height: 20.9rem;
}

.sections__info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sections__info-text{
    width: 33rem;
    height: 19.1rem;
    font-size: 1.6rem;
}

a.obra{
    color: #000;
    font-size: 1.6rem;
}

.section__info-text-description{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    
}

.section__info-text--p{
    display: flex;
    flex-direction: column;
}
.sections__info-text-description--price{
    font-size: 2.8rem;
}
.sections__info-text--car{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--principal);
    align-items: center;

}
.obras>h2{
    font-weight: 540;
    font-size: 2.8rem;
}
.obras>p{
    font-weight: 540;
    font-size: 2rem;
}

a.obra{
    color: #000;
}
.section-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin: 2rem 2rem 2rem 0;
} 



.section-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section__caract-inf{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    border-radius: 4rem;
    padding: .5rem;
    background-color: gray;
    color: #fff;
}

.section__caract-inf:hover{
    cursor: pointer;
    background-color: #F55C7A;
}

.section__caract{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.section__caract-inf .section__caract-inf--img{
    width: 3.2rem;
}

.price__text{
    margin-left: 2rem;
}

.prices{
    display: grid;
    grid-template-columns: 1fr;
    height: 41.4rem;
}

.prices__img{
    height:41.4rem;
}

@media (max-width:767px){ 

    
    .prices__img{
        display: none;
    }
}

.prices__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price__prices{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 4.3rem;
    justify-content: center;

}

.prices__prices-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F69C6D;
    padding: .5rem;
    color: #fff;
    font-size: 2rem;
}


.prices__prices-info img{
    height: 6.4rem;
    width: 6.4rem;
    object-fit: cover;
}

.prices__prices-info span{
    display: block;
    font-size: 2.8rem;

}

.artists__destc{
    margin: 2rem 0 2rem 2rem;
}

.info{
    display: flex;
    gap: 4rem;
    margin: 0 4rem;
    height: 35rem;
    overflow-y: clip;
    overflow-x: scroll;
    white-space: nowrap;
}

.info__artist{
    padding: 2REM;
    background-image: url('../img/rahul-jain-JOYtT8_Y7c8-unsplash\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info__artist-name{
    color: #fff;
    font-size: 2rem;
    font-weight:700;
}

.info__artist-text{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.info__artist-p{
    color: #fff;
    padding: 1rem;
}

.info__artist-p--nat{
    color: #fff;
    background-color: var(--principal);
    padding: .1rem 2rem;
    border-radius: 4rem;
}

.info__artist-p--ur{
    color: #fff;
    background-color: #F57C73;
    padding: .1rem 2rem;
    border-radius: 4rem;
}

.info__artist-p--fan{
    color: #fff;
    background-color: #F55C7A;
    padding: .1rem 2rem;
    border-radius: 4rem;
}

.info__artist-p--an{
    color: #fff;
    background-color: #000;
    padding: .1rem 2rem;
    border-radius: 4rem;
}

.info__artist-p--ret{
    color: #fff;
    background-color: #f0c132;
    padding: .1rem 2rem;
    border-radius: 4rem;
}

/* Fin seccion Artist */

/* Footer */

footer{
    background-color: #000;
    color: #fff;
    
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer h3{
    margin-bottom: 2rem;
}

.footer__cont{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.footer__social-redes{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer__artist{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.copyright{
    text-align: center;
    padding: 2rem 0;
}

/* OBRAS */
.filtro{
    max-width: 83.4rem;
    margin: 0 auto;
    padding: 1rem;
    font-weight: 600;
}
.filtros{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--principal);
    width: 100%;
    margin: 0 auto;
}


  .red{
    color: red;
    font-size: 1.6rem;
  }

  .campo__cate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input_radio{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  .input_radio input[type=radio]{
    width: 4rem;
  }

  .obras-paginacion{
    margin: 0 auto;
    width: 36rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
  }

  .obras-paginacion button{
    width: 3rem;
  }
  
  /* sECTIONS */

  .sections{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
  }

  /* OBRA */

  .section__obra-info{
    margin:1rem 0;
  }

  .sections__info-obra{
    display: flex;
    flex-direction: column;

  }

  .sections__info-img-obra{
    height: 40rem;
  }

  .sections__info-img-obra img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sections__info-text-obra{
    padding: 2rem;
  }

  .section__info-text-description-obra{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sections__info-text-description--autor-obra{
    font-weight: bold;
  }

  .sections__info-text-description--price-obra{
    font-weight: bold;
    font-size: 2.8rem;
  }

  .autor{
    background-color: #ffffff;
  border-radius: 1rem;
  color: #000000;
  margin-bottom: 2rem;
  padding: 2rem;
  }

  .autor__header {
    align-items: center;
    display: flex;
  }
  .autor__img {
    width: 100%;
    height: 10rem;
    border-radius: 50%;
    flex-basis: 10rem;
    overflow: hidden;
  }

  .autor__img img{
    height: 100px;
  }
  .autor__name {
    color: #000000;
    font-weight: 700;
    margin: 0.5rem 0;
  }
  .autor__texto {
    font-size: 2rem;
    line-height: 1.5;
    margin: 2rem 0 0;
    padding-left: 4rem;
    position: relative;
  }

  .gallery__Obras-heading{
    text-align: center;
  }


  /* Artistas */

  .section-filter{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #000;
    border-radius: 2rem;
}

.search_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    background-color: #fff;
    border-radius: 2rem;
}

.search__form-input{
    background-color: #fff;
    border: #000;
    width: 100%;
    height: 4rem;
    padding: .5rem;
    border-radius: 2rem;
}

.search__form-input:focus{
    border: none;
}

.search__form-button{
    margin-right: 1rem;
    background-color: #fff;
    border: none;
}

.select{
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.select select{
  justify-content: center;
  align-items: center;
  width: 30rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: .5rem;
}

.select label{
  display: none;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}

/* Artista */

.rhal{
   padding: 2REM;
    background-image: url('../img/rahul-jain-JOYtT8_Y7c8-unsplash\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 53rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rhal__heading{
  color: #fff;
  font-size:8rem ;
  text-align: center;
}

.description{
  margin: 3rem 0;
}

.description-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;
  margin-bottom: 3rem;
}

.description-info img{
  width: 9rem;
    HEIGHT: 24.4rem;
    OBJECT-FIT: cover;
    OBJECT-POSITION: RIGHT;
}

.description__img img{
  width: 100%;
  height: 43rem;
  object-fit: cover;
}

.info-aplicar{
    background-image: url('../img/pexels-steve-johnson-1145720\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 53rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.info-aplicar__heading{
  color: #fff;
  text-align: center;
}

.description-info-aplicar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:1rem;
  margin: 3rem 0;
}

.description-info-aplicar img{
    width: 9rem;
    HEIGHT: 24.4rem;
    OBJECT-FIT: cover;
    OBJECT-POSITION: RIGHT;
}

.filtro__form-input-submit{
  color: #ffffff;
    padding: 1rem;
    display: block;
    width: 100%;
    height: 3.2rem;
    background-color: var(--principal);
    width: 100%;
    margin: 0 auto;
    border: none;
}

.sections__info-text-obra-car{
  background-color: #F69C6D;
  color: #fff;

}

/* Carrito */

.info-plan P{
  margin: 0 2rem;
  text-align: center;
}
h1 {
  text-align: center;
  padding: 20px 0;
}

.container-carrito {
  max-width: 800px;
  min-width: 320px;
  margin: 2REM auto;
  padding: 20px;
}

.form-carrito {
  margin-bottom: 20px;
}

.form-carrito label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-carrito input[type="text"].input-obras,
.form-carrito textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-carrito button {
  background-color: var(--principal);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.table-container{
  overflow: scroll;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table td img {
  max-width: 100px;
  height: auto;
}

.payment-section {
  text-align: center;
  margin-top: 30px;
}

.payment-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.payment-methods {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
  margin-bottom: 2rem;
}

@media (max-width:380px){ 
  
  .payment-methods{
    flex-direction: column;
  }
}

.payment-methods li {
  margin: 0 10px;
  display: grid;
}

.payment-methods img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.payment-methods a {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--principal);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Estilos para los enlaces de métodos de pago al pasar el cursor por encima */
.payment-methods a:hover {
  background-color: var(--principal);
}

/* Estilos para los enlaces de métodos de pago al estar activos */
.payment-methods a.active {
  background-color:var(--principal);
}

/* Seccion contacto artista */
.contact-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-section h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select,
.form-group textarea,
.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  height: 120px;
}

.form-group .btn-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Contacto artista */
.form-contacto{
  box-sizing: border-box;
}

.main.filtro{
  margin: 0 auto;
}

